<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <li class="nav-header">{{'app.regexes' | transloco}}</li>
  <app-nav-item class="nav-item" link="/ban-regexes" icon="fa-server" [title]="'app.ban_regexes.name' | transloco" />
  <app-nav-item class="nav-item" link="/private-message-bans" icon="fa-comments" [title]="'app.private_message_bans.name' | transloco" />
  <app-nav-item class="nav-item" link="/banned-emails" icon="fa-at" [title]="'app.banned_emails.name' | transloco" />
  <app-nav-item class="nav-item" link="/banned-usernames" icon="fa-user-slash" [title]="'app.banned_usernames.name' | transloco" />
  <app-nav-item class="nav-item" link="/community-remove-regexes" icon="fa-bullhorn" [title]="'app.community_remove_regexes.name' | transloco" />
  <app-nav-item class="nav-item" link="/report-regexes" icon="fa-book-reader" [title]="'app.report_regexes.name' | transloco" />

  <li class="nav-header">{{'app.images' | transloco}}</li>
  <app-nav-item class="nav-item" link="/banned-images" icon="fa-images" [title]="'app.banned_images.name' | transloco" />
  <app-nav-item class="nav-item" link="/qr-code-bans" icon="fa-qrcode" [title]="'app.qr_code_bans.name' | transloco" />

  <li class="nav-header">{{'app.users' | transloco}}</li>
  <app-nav-item class="nav-item" link="/watched-users" icon="fa-eye" [title]="'app.watched_users.name' | transloco" />
  <app-nav-item class="nav-item" link="/trusted-users" icon="fa-user-shield" [title]="'app.trusted_users.name' | transloco" />
  <app-nav-item class="nav-item" link="/ignored-users" icon="fa-user-secret" [title]="'app.ignored_users.name' | transloco" />

  <li class="nav-header">{{'app.miscellaneous' | transloco}}</li>
  <app-nav-item class="nav-item" link="/auto-approval" icon="fa-user-check" [title]="'app.auto_approval.name' | transloco" />
  <app-nav-item class="nav-item" link="/ignored-comments" icon="fa-comment-slash" [title]="'app.ignored_comments.name' | transloco" />
  <app-nav-item class="nav-item" link="/ignored-posts" icon="fa-file-alt" [title]="'app.ignored_posts.name' | transloco" />
  <app-nav-item class="nav-item" link="/instance-defederations" icon="fa-ban" [title]="'app.instance_defederations.name' | transloco" />
  @if (externalListsEnabled()) {
    <app-nav-item class="nav-item" link="/external-lists" icon="fa-list" [title]="'app.external_lists.name' | transloco" />
  }
</ul>
