<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <li class="nav-item">
    <a routerLink="/ban-regexes" class="nav-link">
      <i class="nav-icon fas fa-server"></i>
      <p>
        {{ "app.ban_regexes.name" | transloco }}
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/banned-emails" class="nav-link">
      <i class="nav-icon fas fa-at"></i>
      <p>
        {{ "app.banned_emails.name" | transloco }}
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/private-message-bans" class="nav-link">
      <i class="nav-icon fas fa-comments"></i>
      <p>
        {{ "app.private_message_bans.name" | transloco }}
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/banned-images" class="nav-link">
      <i class="nav-icon fas fa-images"></i>
      <p>
        {{ "app.banned_images.name" | transloco }}
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/watched-users" class="nav-link">
      <i class="nav-icon fas fa-eye"></i>
      <p>
        {{ "app.watched_users.name" | transloco }}
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/trusted-users" class="nav-link">
      <i class="nav-icon fas fa-user-shield"></i>
      <p>
        {{ "app.trusted_users.name" | transloco }}
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/ignored-users" class="nav-link">
      <i class="nav-icon fas fa-user-secret"></i>
      <p>
        {{ "app.ignored_users.name" | transloco }}
      </p>
    </a>
  </li>
</ul>
