@if (loading()) {
  <app-loader />
} @else {
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group">
              <label for="inputPostId">{{'app.column.post_id' | transloco}}</label>
              <input type="number" class="form-control" id="inputPostId" formControlName="postId" aria-describedby="inputPostIdDescription" />
              <small id="inputPostIdDescription">
                <transloco key="app.column.post_id.description" [params]="{regex101: 'https://regex101.com'}" />
              </small>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">{{'app.save' | transloco}}</button>
            @if (itemId()) {
              &nbsp;
              <button class="btn btn-danger" type="button" (click)="removeItem()">{{'app.remove' | transloco}}</button>
            }
          </form>
        </div>
      </div>
    </div>
  </div>
}
