@if (loading()) {
  <app-loader/>
} @else {
  <table class="table table-striped">
    <thead>
    <tr>
      @for (header of headers(); track header) {
        <th>
          {{ allColumnNames()[header] ?? header }}
        </th>
      }
      @if (deleteCallback()) {
        <th>{{ 'app.actions' | transloco }}</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (item of items(); track item.id) {
        <tr>
          @for (header of headers(); track header) {
            @let link = header === identifierField() ? detailUrl().replace('%value%', header === 'id' ? item.id : $any(item.attributes)[header]) : null;
            <td>
              @if (header === "id") {
                @if (link) {
                  <a [routerLink]="link">{{ item.id }}</a>
                } @else {
                  {{ item.id | displayDatabaseValue }}
                }
              } @else {
                @if (link) {
                  <a [routerLink]="link">{{ $any(item.attributes)[header] }}</a>
                } @else {
                  {{ $any(item.attributes)[header] | displayDatabaseValue }}
                }
              }
            </td>
          }
          @if (deleteCallback()) {
            <td>
              <a href="javascript:void(0)" class="text-danger" (click)="deleteItem(item)">{{'app.remove' | transloco}}</a>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>

  <ul class="pagination justify-content-end">
    <li class="page-item" [class.disabled]="currentPage() - 1 < 1">
      <a
        class="page-link"
        [href]="previousPageHref()"
        (click)="navigateToPage(currentPage() - 1, $event)"
      >«</a>
    </li>
    @for (page of pages(); track page; let i = $index) {
      <li class="page-item" [class.active]="page === currentPage()" [class.disabled]="page === '...'">
        @if ((page | getTypeof) === 'number') {
          <a
            class="page-link"
            [href]="renderPageHrefs()[i]"
            (click)="navigateToPage($any(page), $event)"
          >{{ page }}</a>
        } @else {
          <span class="page-link">{{ page }}</span>
        }
      </li>
    }
    <li class="page-item" [class.disabled]="currentPage() + 1 > lastPage()">
      <a
        class="page-link"
        [href]="nextPageHref()"
        (click)="navigateToPage(currentPage() + 1, $event)"
      >»</a>
    </li>
  </ul>
}
