@import "ngx-toastr/toastr";
@import "styles/bootstrap";

@import "styles/adminlte.css";
@import "styles/dark.css";
@import "styles/font-awesome.css";

input, textarea {
  &.ng-invalid.ng-dirty {
    border: 1px solid red !important;

    &:focus {
      border-color: darken(red, 20%) !important;
    }
  }
}

.dark-mode ngb-modal-window {
  .modal-content {
    color: white;
  }
}
